*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}
html{
    height: 100%;
}

body{
    height: 100%;
}
#calendar{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100% !important;
    max-width: 50%;
}
#calendar-app{
    min-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.calendar-day{
    border: 1px solid #E0E0E0;
    min-width: 104px;
    height: 104px;
    max-height: 100%;
}
#calendar-num{
    border: 1px solid #838383;
    min-width: 104px;
    height: 24px;
    text-align: center;
    max-height: 100%;
}
.calendar-day_header{
    text-align: center;
    padding: 4px;
}
